/* NAV BAR */

nav {
    text-align: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    display: inline;
    color: green;
  }

li {
    display: inline;
    padding: 10px;
}

body {
    margin: 0px;
}