<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block body %}{% endblock %}

    <header>
        <img src="">
        <nav>
            <li><a href="base.html">Home</a></li>
            <li><a href="base.html">Home</a></li>
            <li><a href="base.html">Home</a></li>
            <li><a href="base.html">Home</a></li>
        </nav>
    </header>

    <img src = "images/city2.jpg" width = 1500>

    <h1>Lorem ipsum dolor</h1>
</body>
</html>