<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- {% block body %}{% endblock %} {{ url_for('static', filename='css/main.css') }}-->
</head>
<body>
    <header>
        <img src="">
        <nav>
            <li><a href="base.html">Home</a></li>
            <li><a href="base.html">Home</a></li>
            <li><a href="base.html">Home</a></li>
            <li><a href="base.html">Home</a></li>
        </nav>
    </header>

    <img src = "/static/css/city2.jpg" width = 1400>

    <h1>Lorem ipsum dolor</h1>

    <p>Lorem ipsum dolor si amet</p>
</body>
</html>