<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <!-- NAV HERE-->
    </header>

    <h1 id="title">Lorem ipsum dolor</h1>

    <div id = "div_titletext">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis libero in lectus dictum maximus non ut nulla. Vestibulum sit amet tellus nulla. Morbi ut nibh metus. Aliquam auctor mi non eros mollis, sed euismod ex laoreet. Donec id laoreet ex. Vivamus elit magna, imperdiet vel tortor nec, ultrices cursus leo. Mauris non ante turpis. Maecenas non euismod lectus.</p>
    </div>
</body>

<footer>
    <p>© 2023</p>
</footer>
</html>